.genres{
    display:flex;
    gap: 5px;
    .genre{
        background-color: rgb(220, 248, 64);
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 4px;
        color: black;
        white-space: nowrap;
    }
}